[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-ckeditor = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
faker = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
model-bakery = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
